/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/08/2017, 05:39:30 PM
    Author     : CitlaliGuadalupe
*/

table{
	border:1px solid black;
	border-collapse:collapse; /*collapse, separate*/   /*Para modificar los bordes*/
	text-align: center;
        font-size:16px;
        font-weight:bold;
        font-family:helvetica;
        margin-top:50px;
        align: center;
        
        margin-left:auto; 
	margin-right:auto;
		

}
th{
    border:1px solid black;
	padding:20px 30px;
        text-align: left;
        background-color: #5f5f5f;
		color: white;
}

table td {
	border:1px solid black;
	padding:20px 30px;
	
}

table tr:hover{ /*Este es un truco muy interesante para agregar interactividad a las filas cuando pasa el raton*/
 background:#ccc;
}

table td:hover{
	background:black;
	color:white;
}

button.editar{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:0px;
  width:80px;
  height:19px;
}

button.borrar{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#EC1414;
  border:0px;
  width:80px;
  height:19px;
}    

button.editar:hover{
        background-color:#14EC48;    
}

button.borrar:hover{
        background-color:#E5EC0A;    
}

/*--------------------------------------------(Menú)------------------------------------------*/
ul{
	list-style-type:circle; /*disc, circle,square */
	list-style-position: inside; /*inside, outside*/

}

a{
    text-decoration:none;
}

.menu{
	width:100%;
	background:#000;
	list-style:none;/*Esta función es para quitarle los símbolos de listas al inicio*/
	margin:0;
	padding:0;
    
}

.menu li{
	display:inline-block;

}

.menu li a{
	padding:10px 30px; /*Arriba-Abajo, Izquierda-Derecha*/
	display:inline-block;
	color:white;	
}

.menu li a:hover{
	background:#ccc;
	color:black;
}

/*----------------------------------------(Formulario)------------------------------------------------*/

/*
primary:#303F9F
light-primaty:#BBDEFB
white:#f2f2f2
divider:#B6B6B6
error:#D32F2F;
borde:2px;
font-family: 'Roboto', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font-family: "Roboto";
}

form{
	border-top: 30px solid #303F9F;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey; }

.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  padding: 30px; }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto; }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="password"] {
        font-family: "Roboto";
        font-size: 16px;
        color: #303F9F;
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #BBDEFB; }
        .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
        .contenedor-formulario .formulario .input-group input[type="email"]:focus,
        .contenedor-formulario .formulario .input-group input[type="email"]:active,
        .contenedor-formulario .formulario .input-group input[type="password"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:active {
          outline: none;
          border-bottom: 2px solid #303F9F; }
        .contenedor-formulario .formulario .input-group input[type="text"].error,
        .contenedor-formulario .formulario .input-group input[type="email"].error,
        .contenedor-formulario .formulario .input-group input[type="password"].error {
          border-bottom: 2px solid #D32F2F; }
          .contenedor-formulario .formulario .input-group input[type="text"].error + label,
          .contenedor-formulario .formulario .input-group input[type="email"].error + label,
          .contenedor-formulario .formulario .input-group input[type="password"].error + label {
            color: #D32F2F; }
      .contenedor-formulario .formulario .input-group label {
        color: #303F9F; }
        .contenedor-formulario .formulario .input-group label.label {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }
          .contenedor-formulario .formulario .input-group label.label.active {
            top: -12px;
            font-size: 12px;
            line-height: 12px;
            color: #B6B6B6; }
      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
        display: inline-block;
        cursor: pointer;
        color: #303F9F;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
          background: #bbdefb; }
        .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 2px solid #303F9F; }
      .contenedor-formulario .formulario .input-group.error label {
        color: #D32F2F; }
        .contenedor-formulario .formulario .input-group.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .contenedor-formulario .formulario .input-group.error label:before {
          border: 2px solid #D32F2F; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #303F9F;
          border-radius: 2px;
          color: #f2f2f2; }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .contenedor-formulario .formulario input[type="submit"] {
      background: #303F9F;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="submit"]:hover {
        background: #1976D2; }